@font-face {
    font-family: "Forza-Bold";
    src: url("../fonts/Forza-Bold.otf");
}

@font-face {
    font-family: "PxGrotesk-Light";
    src: url("../fonts/PxGrotesk-Light.otf");
}

.font-p-l {
    font-family: "PxGrotesk-Light", sans-serif !important;
}

.font-fz-b {
    font-family: "Forza-Bold", sans-serif !important;
}

.title-header {
    font-family: 'Forza-Bold', sans-serif !important;
}

.title-header {
    font-family: 'Forza-Bold', sans-serif !important;
}

body {
    font-family: 'PxGrotesk-Light', sans-serif !important;
}

.bg-dark-blue {
    background-color: #0b1216 !important;
}

.bg-sky {
    background-color: #159AC7 !important;
    border-color: #159AC7 !important;
}

.text-sky {
    color: #159AC7;
}

.text-gray {
    color: #F1EAE0 !important;
}

.text-white {
    color: white !important;
}

/* ----- All Boats ----- */

.all-boats-navbar * #show-all:hover {
    color: white !important;
}

.all-boats-navbar * #show-wakesetter:hover {
    color: white !important;
}

.all-boats-navbar * #show-response:hover {
    color: white !important;
}

.all-boats-navbar * #show-m235:hover {
    color: white !important;
}

.all-boats-item:hover {
    background-color: #222A31 !important;
    color: #FFFFFF !important;
}

.all-boats-item:hover > .row > div > button {
    color: #FFFFFF !important;
}

.all-boats-item:hover * a > button {
    color: #FFFFFF !important;
}

.active-white {
    color: white;
}

/* -------------------------- */

img {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn-malibu:hover, .btn-malibu:focus {
    color: #159AC7;
}

@media (max-width: 576px) {

    .dragingBoat{
        width: 55%!important;
        height: 28vh!important;
        min-height: 28vh!important;
        min-width: 212px !important;
    }

    .canvas{
        width: 19.3%!important;
        margin-left: 13.5%!important;
    }

    #svgSlideIndicate{
        width: 100%;
        max-height: 100px;
    }

    #polygonSVG,#rectInfoSVG,#textInfoSVG{
        display: none!important;
        visibility: hidden!important;
    }

    #emptySlotAtStart,#emptySlotAtEnd{
        width: 25% !important;
        min-width: 20px !important;
    }

   /* #navbar-mobile{
        background:#0B1216!important;
    }*/

    #svgBoat{
       margin-left: -55% !important;
       transform: scale(0.5);
    }

    .mobile {
        display: block !important;
    }

    #selectedBoatModel,#selectedBoatTag,#selectedBoatYear{
        visibility: visible;
    }

    .btnDesktop{
        visibility: hidden;
    }

    .btnMobile{
        display: block;
        height: 7%;
    }

    #boatSliderMain{
        height: 34vh!important;
    }

    .boat-boat{
        background-size: 100%!important;
    }

    .canvas{
        top: 28%!important;
        left: 45%!important;
    }

    .oval{
        width: 70%!important;
    }

    .minWidthBtn{
        min-width: 110px;
        font-size: 10px;
    }

    .desktop {
        display: none !important;
    }

    #navbar-desktop {
        display: none;
    }

    .nav-item-logo {
        display: none;
    }

    .title-header {
        font-size: 45px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 25px !important;
    }

    .sub-header {
        font-size: 25px !important;
    }

    .news-event {
      font-size: 25px;
    }

    .description, .card-description {
        font-size: 14px !important;
    }

    .small-title {
        font-size: 11px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 18px !important;
    }

    .dropdown-item {
        font-size: 16px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 16px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 14px !important;
    }

    .explore-menu {
        font-size: 12px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 14px !important;
        padding: 20px 45px 20px 45px;
		}
		
		.btnLearnmore {
			padding-left: 5%;
			font-family: "Forza-Bold", sans-serif !important;
			font-size: 12px !important;
    }
}
.close-dropdown {
  display: none;
  color: white;
  font-size: 1.5rem;
}
#navbar-desktop {
  display: none !important;
}
@media (max-width: 768px) {
  #navbar-mobile {
    display: block !important;
  }
}

@media (min-width: 767px) {
  .temp-toggled {
    display: none !important;
  }
  .close-dropdown {
    display: block !important;
  }
}

@media (min-width: 769px) {
    #navbar-desktop {
      display: block !important;
		}
		
		.nav-link {
			font-family: 'Forza-Bold', sans-serif !important;
			font-size: 12px !important;
			color: white !important;
    }

    #navbar-mobile {
        display: none;
    }

    .minWidthBtn{
        max-width: 200px;
		}
		
    .btnMobile{
        display: none;
    }

    .title-header {
        font-size: 64px !important;
    }

    .btnLearnmore {
			padding-left: 10%;
			font-family: "Forza-Bold", sans-serif !important;
			font-size: 12px !important;
    }
}
/* resize boat each screen size */

@media (min-width: 770px) and (max-width: 1024px) {
	  .submenuBoatPic{
			max-width: 75% !important;
			max-height: 75% !important;
		}

	.boatModelSubMenuText {
		font-size: 220% !important;
	}

		.hideText{
			margin-top: 0px;
		}
	.boat1 {
		min-height: 250px !important;
	}

	.page-header-submenusection {
		height: 440px !important;
	}

}
@media (min-width: 769px) and (max-width: 812px) {
	.page-header-submenusection {
		height: 440px !important;
	}

	.boat1 {
		min-width: 200px !important;

	}

}

@media (min-width: 813px) and (max-width: 914px) {
	.boat1 {
		min-width: 200px !important;
	}
}
@media (min-width: 1025px) {
	.boatModelSubMenuText {
		font-size: 220% !important;
	}
	.submenuBoatPic{
			max-width: 75% !important;
			max-height: 75% !important;
	}

	.boat1 {
		min-height: 270px !important;
	}

	.hideText{
		margin-top: 5px !important;
	}

	.page-header-submenusection {
		height: 440px !important;
	}

}
@media (max-width: 769px) {
	  .submenuBoatPic{
			max-width: 75% !important;
			max-height: 75% !important;
		}

	.boatModelSubMenuText {
		font-size: 220% !important;
	}

	.hideText{
		margin-top: 0px;
	}

	.boat1 {
		min-height: 250px !important;
	}

	.page-header-submenusection {
		height: 460px !important;
	}
}

@media (min-width: 992px) { 

	.btnLearnmore {
		padding-left: 0%;
		font-family: "Forza-Bold", sans-serif !important;
		font-size: 12px !important;
	}

 }

@media (min-width: 1200px) {

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    #navbar-mobile {
        display: none;
    }

    .title-header {
        font-size: 64px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 48px !important;
    }

    .sub-header {
        font-size: 48px !important;
    }

    .description, .card-description {
        font-size: 18px !important;
    }

    .small-title {
        font-size: 16px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 22px !important;
    }

    .dropdown-item {
        font-size: 13px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 12px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 14px !important;
    }

    .explore-menu {
        font-size: 12px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 12px !important;
        padding: 25px 30px 25px 30px;
		}
		
		 .btnLearnmore {
			padding-left: 0%;
			font-family: "Forza-Bold", sans-serif !important;
			font-size: 12px !important;
    }
}

@media (min-width: 1920px) {

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block !important;
    }

    #navbar-mobile {
        display: none;
    }

    .title-header {
        font-size: 80px !important;
    }

    .title-boat-detail {
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 60px !important;
    }

    .sub-header {
        font-size: 60px !important;
    }

    .description, .card-description {
        font-size: 18px !important;
    }

    .small-title {
        font-size: 20px !important;
    }

    .font-explore-title {
        font-family: "Forza-Bold", sans-serif !important;
        font-weight: bold !important;
        font-size: 38px !important;
    }

    .dropdown-item {
        font-size: 16px !important;
    }

    .nav-link {
        font-family: 'Forza-Bold', sans-serif !important;
        font-size: 15px !important;
        color: white !important;
    }

    .description, .card-description {
        color: black !important;
        font-size: 18px !important;
    }

    .explore-menu {
        font-size: 15px !important;
    }

    /* Button Style */
    .btn-malibu {
        background-color: transparent !important;
        border: 1px solid #1F94BA !important;
        font-family: "Forza-Bold", sans-serif !important;
        font-size: 15px !important;
		}
		
    .btnLearnmore {
			padding-left: 0%;
			font-family: "Forza-Bold", sans-serif !important;
			font-size: 12px !important;
    }
}

.dropdown-item {
    color: #1F94BA;
}

section {
    border-top: 3px solid #159AC7 !important;
}

.links ul li a {
    font-family: "Forza-Bold", sans-serif !important;
}

/* 1a start */
.mobile-brand-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container-fluid.justify-end {
    justify-content: flex-end;
}

.navbar-translate.width-auto {
    width: auto;
}

/* 1a end */

/* 1b, 1c start */
.modal-content.country-list-content {
    border-radius: unset;
    background-color: rgba(20, 20, 20, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

span.white-color {
    color: white;
}

.country-list a {
    text-decoration: none;
    display:block;
    color: white;
    transition: all 0.2s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    padding-left: 10px;
}

.country-list a:hover {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}


.country-list a {
    text-decoration: none;
    display:block;
    color: white;
}

.country-list a img {
    display: inline-block;
    width: 3rem;
    height: auto;
}

.country-list a div {
    display: inline-block;
    font-size: 1rem;
    margin-left: 1rem;
    vertical-align: middle;
}

.clear-float {
    clear: both;
}
/* 1b, 1c end */

.popCard{
    background-position: center center;
    background-size: cover;
    text-align: center;
    z-index: 1;
    width: 114%;
    height: 370%;
    max-height: 240px;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.56);
    height: 370%
    transition: transform .6s;
    color:white;
    box-sizing: border-box;
}

.boatSlide{
    text-align: center;
}

#allBalls {
    text-align: center;
    width: 100%;
}


.balls{
    cursor: pointer;
}
/*
.tooltiptext{
    border-radius: 5px;
    background: white;
    padding: 7px;
    color:black;
    visibility: hidden;
    position: absolute;
    top: 100px;

left: 360px;
}*/

.boatSlidePic{
height: 51.4rem;

}

.boatPic{
    /*position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    margin: auto;*/

    white-space: nowrap;
background-size: cover;
z-index: 2000;
background-position: center center;


height: 100%;

width: 100%;
}


.oval{
    -ms-transform: matrix(0.8, -0.05, 0, 0.8, 0, 0);
    -webkit-transform: matrix(0.8, -0.05, 0, 0.8, 0, 0);
     transform: matrix(0.8,-0.05, 0, 0.8, 0, 0);
     overflow:visible !important;
     width: 100%;
    position: absolute;
    top:0;
    left: 0;
    padding-top: 20%;
    padding-left: -20%;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.8%;
    height: auto;
    margin: auto;
    margin-left: 6%;
}

.aboutMalibuHeader{
    font-weight: 750;
    font-size: 1rem;

}

.submitFont{
    font-weight: 720;
}

#learnMoreSection{
    font-weight: 700;
}

#boat-model-title{
    font-weight: 730;
}

#boat-model-tag{
    font-weight: 800;
}

.exploreBoatSection g text{
    font-weight: 700;
}

.submenuboat{
    display: inline-block;
    position:relative;
    padding: 0 1.5rem;
    float: left;

    vertical-align: middle;
    margin: auto;
    width: auto;
    background-color: #0C1215;

    height: 3rem;
    text-align: center;
vertical-align: middle;
line-height: 3rem;
}

#submenusection{
    background-color: #0C1215;
    display: none;
}

.showboat{
    display: inline;
    position:relative;

    top: 20%;
    vertical-align: middle;
    margin: auto;
    overflow-x:scroll;
    white-space: nowrap;
    width: 100%;
}



/* width */
.dragscroll::-webkit-scrollbar {
		width: 10px !important;
		height: 10px !important;
}

/* Track */
.dragscroll::-webkit-scrollbar-track {
    background: black !important;
}

/* Handle */
.dragscroll::-webkit-scrollbar-thumb {
    background: #009ac7 !important;
}

/* Handle on hover */
.dragscroll::-webkit-scrollbar-thumb:hover {
    background:white !important;
}

.boat_btn_mobile{
	stroke-width: 1px;
	stroke: #009ac7;
	fill:transparent;
}
.boat_btn{
	stroke-width: 1px;
	stroke: #009ac7;
	visibility: hidden;
	fill:transparent;
	width: 82%;
	height: 50px;
}

#hideBtn{
  transition: top ease 5s;
}

.boat1:hover #hideBtn{

    visibility: visible;
}

#showBtn {
	visibility: visible;
}

.boat1:hover .hideTextSubBoatMenu{

    top:48%;
}


.boat1:hover .hideText{
    visibility: hidden;
}
.boat1:hover{
    background-color: #1D272D;
}

.boat1{
    display: inline-block;
    position:relative;

    vertical-align: middle;

    width: 23%!important;
    background-color: #0C1215;
    border-style: solid;
    border-color: #1d272d;
    border-width: 0 1px 0 0;
    min-width: 240px;
    min-height: 300px;
    pointer-events: all;
}

.dragingBoat{
        position: relative;
    width: 33%;
    display: inline-block;
    height: 63vh;/*80*/
    min-height: 292px;
    white-space: nowrap;
    max-height:382px;
    min-width: 265px;


}

.boat-boat{
    width:100%;

    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: move;
    height:100%;

    text-align: center;
    z-index: 1;

    -webkit-transition: background-size 1s linear;
    -moz-transition: background-size 1s linear;
    -o-transition: background-size 1s linear;
    -ms-transition: background-size 1s linear;
    transition: background-size 1s linear;

    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -o-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    transition: transform 1s linear;

}


.submenuBoatPic{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 90%;
    max-height: 90%;
    top: 10%;
}

.hideTextSubBoatMenu{
    position:absolute;
    top:52%;
    left:18%;
    transition: all ease 0.1s;
    -webkit-transition:  all ease 0.1s;
    -moz-transition:  all ease 0.1s;
    -o-transition:  all ease 0.1s;
    -ms-transition:  all ease 0.1s;
}

.hideText{
    font-weight: 545!important;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif !important;
}

.boatModelSubMenuText{
    margin-top: -5%;
    font-size: 230%;
    font-weight: 550!important;
    -webkit-font-smoothing: antialiased;
    font-family:  sans-serif !important;
}

#boatSliderMain::-webkit-scrollbar {
    display: none;
}

#boatSliderMain::-moz-scrollbar {
    display: none;
}

.short_line{
    border-top: 2px solid #009ac7;
    width: 0px;
    -webkit-transition: width 1s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 1s;
    transition-timing-function: linear;
}

.headerImgDescription{
    color:white;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
}

.longTextImgDescription{
    color:white;
    top: -10%;
    position: relative;
    font-size: 0.8rem;
}

.readMoreImgDescription{
    color:white;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 90%!important;
    text-transform: uppercase;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12%;
  right: 0;

  color: white;
  visibility: hidden;
  opacity: 0;
  transition: transform .6s, background-image 0s, background-size 0s;
  width: 77%;
  height:120%;
  padding: 8%;
  text-align: left;
  min-width: 240px;
  background-repeat: no-repeat;
  background-image: attr(data-image-src url);
  border-bottom: 4px solid #009ac7;
}

.img__description.a {
  background-image: url('https://cdn.malibuboats.com/2018/Malibu Homepage/Homepage-cards-CommandCenter.jpg');
}
.img__description.b {
  background-image: url('https://cdn.malibuboats.com/2018/Malibu Homepage/Homepage-cards-ISP.jpg');
}
.img__description.c {
  background-image: url('https://cdn.malibuboats.com/2018/Malibu Homepage/Homepage-cards-Surfgate.jpg');
}

@media screen and (min-width: 768px) {
  .popCard:hover .img__description.a,
  .popCard:hover .img__description.b,
  .popCard:hover .img__description.c {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/A_blank_black_picture.jpg/450px-A_blank_black_picture.jpg");
    background-size: 140% 100%;
    transition: transform .6s, background-image 1.2s, background-size 1.2s;
    background-position: center center;
  }

  .popCard:hover .img__description {
    visibility: visible;
    transform: scale(1.2);
    opacity: 1;
  }

  .popCard:hover .short_line{
    width: 15%;
  }

  .popCard:hover{
    transform: scale(1.2);
    visibility: hidden;
	}
	
	.btnLearnmore {
		padding-left: 0%;
		font-family: "Forza-Bold", sans-serif !important;
		font-size: 12px !important;
		
	}
}

@keyframes slow_dash {
  to {
    stroke-dashoffset: 700;
  }
}

.countryListSideMenuMobileUL{
    margin-top: 20px;
    height: 12%!important;
    padding-inline-start: 0;
    margin-left: -15px;
}

.countryListSideMenuMobile{
        float: left;
    list-style: none;
    margin-right: 20px;
    opacity: 0.6;
    margin-bottom: 10px;
}

.sideMenuList li a{
    opacity: 1!important;
}

.sideMenuList{
    height: 30%!important;
}

.aboutMalibuImage{
    min-height: 240px;
}

.aboutMalibuImage:hover{
    z-index: 2;
}

.sideMenuCopyRight{
    z-index: 3;
    position: relative;
    margin-left: -15px;
        height: 8%;
}

.socialNetworkIconSideMenu{
    height: 20px;
    margin-right: 10px;
}

.countryListSideMenuMobile a{
    color:white;
}

.svgDotCircleMoving{
    position: absolute;
    overflow: visible;
    top: 0px;
    height: 100%;
    width: 100%;
    display: block;
}

#svgSlideIndicate{
    width: 40.5%;;
max-width: 30.5%;
min-width: 265px;
margin-left: auto;

margin-right: auto;
}

.nav-open .navbar-collapse {
  transform: translateY(100vh) scaleX(1) translateX(0vw);
  width: 100% !important;
	z-index: 2 !important;
}
.navbar-collapse {
  z-index: 1;
	width: 100%;
  transform: translateY(-100vh) scaleX(1) translateX(0vw);
  top: -90% !important;
	transition: all 0s, transform 0.36s, z-index 1s !important;
	padding-top: 0px;
}
.navbar-translate {
  transition: all 0s;
}
.navbar-collapse::after{
  background-color: #222A31 !important;
}

.page-header-submenusection {
  position: absolute;
  top: 0px;
  z-index: 2;
}

.nav-boat-type {
  margin: 0px 0px;
  color: #9A9A9A !important;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5em;
  padding: 15px 0;
}

@media only screen and (max-width: 767px) {
  .row .svgDotCircleMoving {
    display: none;
  }

}


@media only screen and (min-width: 375px) {
	.btnLearnmore {
		padding-left: 5%;
		font-family: "Forza-Bold", sans-serif !important;
		font-size: 12px !important;

	}

}

@media only screen and (max-width: 374px) {
	.btnLearnmore {
		padding-left: 0%;
		font-family: "Forza-Bold", sans-serif !important;
		font-size: 12px !important;

	}

}

.locale-btn {
  padding-top: 5px !important; 
  text-align: right !important;
  padding-right: 25px !important;
}

@media (max-width: 575px) {
  .desktop-card {
    display: none;
  }
}
@media (min-width: 576px) {
  .mobile-card {
    display: none;
  }
}
@media (min-height: 1024px) {
	.navbar-collapse {
		z-index: 1;
		width: 100%;
		transform: translateY(-100vh) scaleX(1) translateX(0vw);
		top: -94% !important;
		transition: all 0s, transform 0.36s, z-index 1s !important;
		padding-top: 0px;
	}
}

@media only screen and (min-height: 731px) and (max-height:823px) {
	.navbar-collapse {
		z-index: 1;
		width: 100%;
		transform: translateY(-100vh) scaleX(1) translateX(0vw);
		top: -92% !important;
		transition: all 0s, transform 0.36s, z-index 1s !important;
		padding-top: 0px;
	}
}

@media only screen and (min-height: 731px) and (max-height:736px) {
	.navbar-collapse {
		z-index: 1;
		width: 100%;
		transform: translateY(-100vh) scaleX(1) translateX(0vw);
		top: -91% !important;
		transition: all 0s, transform 0.36s, z-index 1s !important;
		padding-top: 0px;
	}
}

@media only screen and (min-height: 568px) and (max-height: 568px) {
	.navbar-collapse {
		z-index: 1;
		width: 100%;
		transform: translateY(-100vh) scaleX(1) translateX(0vw);
		top: -89% !important;
		transition: all 0s, transform 0.36s, z-index 1s !important;
		padding-top: 0px;
	}
}

@media (min-width: 767px) {
  .card-text:hover .desktop-text {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .desktop-text {
    display: none;
	}
	.page-header-submenusection {
		display: none !important;
	}
}
@media (max-width: 767px) {
  .event-img {
    border-bottom: 4px solid #009ac7 !important;
  }
  .card-blog.second {
    margin-top: 0 !important;
  }
}

.card-blog.second {
    margin-top: 50px;
  }
@media screen and (min-width: 768px) and (max-width:768px) {
  .card-blog .card-body {
    padding-left: 25px !important;
    padding-right: 50px !important;
    text-align: center;
  }
}

@media screen and (max-width: 991px) {
	.navbar-collapse::after {
		background-image: none !important;
	}
}

.btn-dash {
    stroke-dasharray:  63%, 8%; 
    stroke-dashoffset:8%;
}

.pad-mobile-chevron {
	margin-right: 15px;
	padding-right: 40px;
}

.pos-left-4per {
	left: 4%;
  position: relative;
}


.mobile-header {
	height: 70px !important;
	width: 100% !important;
	position: fixed !important;
	/* top: 0 !important; */
	background: #090909 !important;
	text-align: center !important;
	vertical-align: middle !important;
  visibility: visible !important;
} 

.nav-down {
  position: fixed;
  top: 0;
  transition: top 0.5s ease-in-out !important;
  width: 100%;
	visibility: visible !important;
	padding: 20px 0px 60px 0 !important;
}

.nav-up {
  top: -80px !important;
  visibility: visible !important;
}


.submit-btn {
	padding-left: 30%
}

@media (min-width: 768px) {
	.submit-btn {
		padding-left: 20%
	}
}

@media (max-width: 320px) and (max-width: 360px) {
	.submit-btn {
		padding-left: 25%
	}
}
@media (min-width: 360px) and (max-width: 360px){
	.submit-btn {
		padding-left: 27%
	}
}
@media (min-width: 375px) and (max-width: 375px){
	.submit-btn {
		padding-left: 27%
	}
}
@media (min-width: 1024px) {
	.submit-btn {
		padding-left: 30%
	}
}

.slideDown
{
  transform: translate(0,100%);
}

.shownav {
	z-index: 9;
	position: absolute;
}